<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fedorahosted.freeotp.uitest"
    android:versionCode="1"
    android:versionName="1.0">
    <instrumentation android:targetPackage="org.fedorahosted.freeotp"
        android:name="androidx.test.runner.AndroidJUnitRunner"/>
    <application tools:replace="label" android:label="FreeOtpTest" />
</manifest>
