<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fedorahosted.freeotp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".FreeOtpPlusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ScanTokenActivity" />
        <activity android:name=".ui.AboutActivity" />
        <activity
            android:name=".ui.AddActivity"
            android:label="@string/add_token"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.DeleteActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".ui.EditActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ShareQrCodeActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="totp"
                    android:scheme="otpauth" />
                <data
                    android:host="hotp"
                    android:scheme="otpauth" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>
    </application>

</manifest>